{% extends "global/Page.html" %}
{% load otree %}
{% block global_styles  %}
    <style>
        .otree-body {
            max-width:2000px;
        }
         .table-info, .table-info>td, .table-info>th {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
             font-weight: normal;
        }
         .card-text{
             color: {{ participant.vars.savings_color }};
             font-size: x-large;
         }
    </style>
{% endblock %}

{% block title %}
    Saving and expense ( फेरी क्रमांक - {{ subsession.round_number }})
{% endblock %}

{% block content %}

    <p>
        आपत्कालीन परिस्थितीसाठी आपल्याला रुपये {{ emergedFund }} खर्च करण्याची आवश्यकता आहे. आपण कोणता पर्याय निवडला आहे?
    </p>

    {% formfields %}

    {% if subsession.round_number != 1 %}
                    <div class="card text-center w-50">
                        <div class="card-body">
                            <h5 class="card-title"><b>आतापर्यंत एकूण बचत</b></h5>
                            <p class="card-text"> <b>रुपये {{ participant.vars.totalSavings | intcomma }}</b></p>
                        </div>
                    </div>

                     <div class="card text-center w-50">
                        <div class="card-body">
                            <h5 class="card-title"><b>आतापर्यंत एकूण कर्ज</b></h5>
                            <p class="card-text"> <b>रुपये {{ participant.vars.totalDebt | intcomma }}</b></p>
                        </div>
                    </div>

    {% endif %}


    {% next_button %}

{% endblock %}

{% block app_scripts %}
    <script>
        const hideLoanInput = function () {
            $('label[for="id_fromSavingAmt"]').hide();
            $('input[name="fromSavingAmt"]').hide();

            $('label[for="id_fromLoanAmount"]').hide();
            $('input[name="fromLoanAmount"]').hide();
        };
        const showLoanInput = function () {
            $('label[for="id_fromSavingAmt"]').show();
            $('input[name="fromSavingAmt"]').show();

            $('label[for="id_fromLoanAmount"]').show();
            $('input[name="fromLoanAmount"]').show();
        };

        // script to hide form fields depend on choices from radio button
    $('input[name="debtChoice"]').on("click", function(e) {
       console.log('JavaScript is executing');
       let selected = $("input[name='debtChoice']:checked").val();
       console.log(selected);
       (selected === '0') ? hideLoanInput() : showLoanInput();
    })
    </script>
{% endblock %}