{% extends "global/Page.html" %}
{% load humanize %}
{% load otree %}
{% block g_styles  %}
    <style>
        .otree-body {
            max-width:2000px;
        }
         .table-info, .table-info>td, .table-info>th {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
             font-weight: normal;
        }
         .card-text{
             color: #28a745;
             font-size: x-large;
         }
    </style>
{% endblock %}

{% block title %}
    Saving and expense (महिना क्रमांक - {{ subsession.round_number }})
{% endblock %}




{% block content %}

        <div class="row mb-4">
            <div class="col">
                <p>
                    आपको {{ roundSalary }} मिले है, आप कितना खर्च करोगे और कितना बचत करोगे?
                </p>

                {% formfields %}
                {% next_button %}
                {% if subsession.round_number != 1 %}
                    <div class="row">
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title"><b>अब तक की कुल बचत</b></h5>
                                    <p class="card-text"> <b>रुपये {{ participant.vars.totalSavings }}</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title"><b>अब तक की कुल घरेलू बचत</b></h5>
                                    <p class="card-text"> <b>रुपये {{ participant.vars.homeSavings }}</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title"><b>अब तक की कुल बैंक बचत</b></h5>
                                    <p class="card-text"> <b>रुपये {{ participant.vars.bankSavings }}</b></p>
                                </div>
                            </div>
                        </div>
                        {% if participant.vars.totalDebt > 0 %}
                        <div class="col">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title"><b>अब तक का कुल कर्ज</b></h5>
                                    <p class="card-text" style="color: #c82333"> <b>रुपये {{ participant.vars.totalDebt }}</b></p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>


                {% endif %}
            </div>
            <div class="col">
                   <div>
                        <p>यदि आपको गणना में (calculation) कठिनाई हो रही है, तो नीचे दिए गए कैलकुलेटर का उपयोग करें</p>
                    </div>
                {% include "global/calculator.html" %}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-auto mt-4">
                {% if participant.vars.EMI > 0 %}
                    <div>
                        <table class="table">
                          <thead>
                            <tr class = "table-info">
                              <th scope="col">कर्ज क्रमांक</th>
                              <th scope="col">शेष राशि</th>
                              <th scope="col">मासिक किस्त</th>
                              <th scope="col">शेष महीने</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>{{ participant.vars.totalDebt }}</td>
                              <td>{{ participant.vars.EMI }}</td>
                              <td>{{ participant.vars.loanRemainRound }}</td>
                            </tr>
                          </tbody>
                    </table>
                    </div>
                {% endif %}
            </div>
        </div>

{% endblock %}


{% block app_scripts %}
    <script>
        $(document).ready(function (){
            $('label[for="id_EMI"]').html('ऋण की ईएमआई रु {{ participant.vars.EMI }} :');

            $('#id_consumption').attr('oninvalid','this.setCustomValidity("आपका खर्च 3000 से कम है। यह खर्च करने के लिए न्यूनतम राशि है।")');
            $('#id_consumption').attr('oninput','this.setCustomValidity("")');

        });
    </script>
{% endblock %}


