{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Page title
{% endblock %}

{% block content %}

    <p>
        <h3>आता सत्राचा दुसरा भाग सुरू होत आहे. कृपया सूचना  खूप काळजीपूर्वक वाचा.</h3>
        <ul>
            <li>हा एक साधा खेळ आहे.</li>

            <li>ते 25 फे्यांसाठी पुढे जाईल. प्रत्येक फेरी एक महिन्याचे प्रतिनिधित्व करेल. तर 12 फे्या = 1 वर्ष.</li>

            <li>प्रत्येक फेरीमध्ये आपल्याला 10,000 गुण दिले जातील. हे आपले उत्पन्न म्हणून समजून घ्या.</li>

            <li>ते दोन श्रेणींमध्ये कसे वाटप करावे हे आपण ठरवावे लागेल.पहिल्या श्रेणीला ‘खर्च’ असे म्हणतात. ही बादली आपण एका महिन्यात घेतलेल्या सर्व खर्चाचे प्रतिनिधित्व करते -
                किराणा सामान, भाडे, मोबाइल आणि गॅस यासारख्या निश्चित खर्च, तसेच कपडे खरेदी, घरगुती दुरुस्ती आणि येणा
                over्या इतर ओव्हरहेड खर्चासारख्या बदलत्या किंमती. दोन्ही खर्च किती येतो याचा अंदाजे अंदाज घ्या आणि
                बॉक्समध्ये तो टाइप करा.</li>

            <li>दुसर्‍या श्रेणीला ‘बचत’ असे म्हणतात, जे आपण एका महिन्यात (घरात आणि बँकेत दोन्ही) बचत केलेल्या सर्व
            पैशाचे प्रतिनिधित्व करतात.</li>


            <li>दोन प्रकारांची एकूण संख्या 10000 असावी.</li>
        </ul>
    </p>

    {% next_button %}

{% endblock %}
