{% extends "global/Page.html" %}
{% load otree static %}

{% block g_styles %}
    <style>
    #main{
        font-size: xx-large;
        font-weight: bold;
    }
    </style>
{% endblock %}


{% block content %}

    <p>
        <h3>अब सत्र का दूसरा भाग शुरू हो रहा है। कृपया निर्देशों को बहुत ध्यान से पढ़ें।</h3>
        <ul id="main">
            <li class="text-justify">यह एक आसान खेल है.</li>
            <br>
            <li class="text-justify">यह 16 राउंड तक चलेगा। प्रत्येक दौर एक महीने का प्रतिनिधित्व करेगा। तो 12 फेय = 1 वर्ष।</li>
            <br>
            <li class="text-justify">आपको प्रत्येक राउंड में 10,000 अंक दिए जाएंगे। इसे अपनी आय (income) समझें।</li>
            <br>
            <li class="text-justify">आपको यह तय करना होगा कि इसे तीन श्रेणियों में कैसे विभाजित किया जाए। </li>
            <br>
            <li class="text-justify"> पहली श्रेणी को 'व्यय' कहा जाता है। यह श्रेणी एक महीने में आपके द्वारा किए गए सभी खर्चों का प्रतिनिधित्व करती है -
                किराने का सामान, किराया, मोबाइल और गैस, साथ ही कपड़े की खरीद, घर की मरम्मत जैसे निश्चित खर्च अन्य ओवरहेड लागत की तरह कीमतों को बदल देता है। दोनों की लागत का अनुमान लगाएं और
                इसे बॉक्स में टाइप करें।</li>

            <br>

            <li class="text-justify">दूसरी श्रेणी को 'घरेलू बचत' कहा जाता है, जो उस राशि का प्रतिनिधित्व करती है जिसे आप सामान्य रूप से घर में रखते हैं।<br>
            <br>
            <li class="text-justify">तीसरी श्रेणी है बैंक बचत - यह श्रेणी उस राशि का प्रतिनिधित्व करती है जो आप सामान्य रूप से बैंक में रखते हैं</li>
            <br>

            <li class="text-justify">तीनों प्रकार की श्रेणियों की कुल संख्या 10000 होनी चाहिए।</li>
        </ul>
    </p>
    <p id="timer">अगले पृष्ठ के लिए बटन 60 सेकंड में सक्रिय (activate) हो जाएगा</p>
    {% next_button %}
{% endblock %}


{% block g_scripts %}
    <script>
    $(document).ready(function (){
            $('.otree-btn-next.btn.btn-primary').prop('disabled', true);

            setTimeout(function() {
            $(".otree-btn-next.btn.btn-primary").prop('disabled',false);
            }, 60000);

            var timeLeft = 60;
            var elem = document.getElementById('timer');;

            var timerId = setInterval(countdown, 1000);

                function countdown() {
                  if (timeLeft == -1) {
                    clearTimeout(timerId);
                  } else {
                    elem.innerHTML = 'अगले पृष्ठ के लिए बटन ' + timeLeft + 'सेकंड में सक्रिय (activate) हो जाएगा';
                    timeLeft--;
                  }
                }

            });
    </script>
{% endblock %}
